.header_bg {
    background-color: #575fcf;
    a {
        color: #ffffff !important;
    }
}

.sidebar {
    background-color: #3c40c6;
    height: 100vh;
    box-shadow: 1px 1px 0px 0px rgba(0,0,0);
    color: #fff;
    padding: 10px 0 0 20px;
}

.layout {
    grid-template-columns: 2fr 10fr;
    grid-gap: 20px;
    display: grid;
}
