.header_bg {
    background-color: #575fcf;
    a {
        color: #ffffff !important;
    }
}

.sidebar {
    background-color: #3c40c6;
    width: 18%;
    height: 100vh;
    box-shadow: 1px 1px 0px 0px rgba(0,0,0);
    color: #fff;
    position: fixed;
    padding: 10px 0 0 20px;
}
